Repository ropensci/roweb3, pull requests merged in 2024-03, with the labels that each got.

#733 qualtRics call for contributions
  content/author/joseph-obrien/_index.md
  content/blog/2024-03-01-qualtrics-call-help/index.md
Labels: blog post

#710 Coc updates 2023
  content/author/natalia-morandeira/_index.md
  content/blog/2024-03-04-conduct2023/index.md
  content/code-of-conduct.es.md
  content/code-of-conduct.md
Labels: documentation, blog post

#732 Marketing your package blog
  content/blog/2024-03-07-package-marketing/index.md
Labels: blog post

#742 tech note on DAMP/DRY
  content/blog/2024-03-18-package-testing-principles/index.Rmd
  content/blog/2024-03-18-package-testing-principles/index.md
Labels: blog post

#696 Champions Projects Wrap-Up Blog Post
  content/blog/2024-03-20-champions-program-projects/R-Ladies-BASR-Meetup.png
  content/blog/2024-03-20-champions-program-projects/R-Ladies-SaoPaulo.jpg
  content/blog/2024-03-20-champions-program-projects/RenRosario.jpeg
  content/blog/2024-03-20-champions-program-projects/cesar-talk.png
  content/blog/2024-03-20-champions-program-projects/comm_call.png
  content/blog/2024-03-20-champions-program-projects/flyers.png
  content/blog/2024-03-20-champions-program-projects/index.md
  content/blog/2024-03-20-champions-program-projects/pao-git-github.png
  content/blog/2024-03-20-champions-program-projects/r-ladies-abuja-meetup.jpeg
Labels: blog post

#747 Update May Coworking event
  content/events/2024-04-02-coworking-2024-04.md
  content/events/2024-05-07-coworking-2024-05.md
Labels: events
