Repository ropensci/roweb3, pull requests merged in 2024-09, with the labels that each got.

#837 Adding Turkish
  content/events/2024-09-10-rsr-learn-and-use.md
Labels: events

#826 Liz tech note
  config.toml
  content/blog/2024-09-05-screen-readers-tools/index.en.md
  content/blog/2024-09-05-screen-readers-tools/index.es.md
  content/blog/2024-09-05-screen-readers-tools/index.tr.md
Labels: blog post

#841 Adding Liz's guide to the event page
  content/events/2024-09-10-rsr-learn-and-use.md
Labels: events

#830 tech note on screenshots
  content/blog/2024-09-10-script-screenshots/index.Rmd
  content/blog/2024-09-10-script-screenshots/index.md
  content/blog/2024-09-10-script-screenshots/search-advanced.png
  content/blog/2024-09-10-script-screenshots/search.png
Labels: blog post

#838 Deposits in the Wild blog post
  content/author/collin-schwantes/_index.md
  content/blog/2024-09-17-deposits-in-the-wild/index.md
Labels: blog post

#842 Add October event
  content/events/2024-10-01-coworking-2024-10.md
Labels: events

#851 rOpenSci at LatinR
  content/events/2024-11-20-LatinR.md
Labels: events

#855 Add r-universe comm call resources
  content/commcalls/2024-09-24/index.md
Labels: commcall
