Repository ropensci/roweb3, pull requests merged in 2024-11, with the labels that each got.

#885 Webinar RMedicine
  content/events/2024-11-19-RMedicine.md
Labels: events

#892 Add artifacts
  content/commcalls/2024-11-06/index.md
Labels: commcall

#888 allcontribs blog entry
  content/blog/2024-11-26-allcontributors/index.md
Labels: blog post

#896 Note open call and new date
  content/blog/2024-10-22-first-time-contributions/index.md
Labels: blog post

#912 Remove twitter messages in the webpage to avoid build errors
  content/blog/2017-01-03-aaas-cefp.md
  content/blog/2017-04-18-tabulizer/index.md
  content/blog/2017-06-02-unconf2017.md
  content/blog/2017-06-23-community.md
  content/blog/2017-08-15-magick-10.md
  content/blog/2017-09-11-software-review-update.md
  content/blog/2017-10-31-ozunconf2017.md
  content/blog/2018-04-20-monkeydo.md
  content/blog/2018-05-15-icon/index.md
  content/blog/2018-06-05-unconf18.md
  content/blog/2018-07-24-educollab-challenges.md
  content/blog/2018-09-05-commonmark.md
  content/blog/2018-12-11-treestartr.md
Labels: bug
