Repository ropensci/roweb3, pull requests merged in 2024-08, with the labels that each got.

#810 New short tech note: Git tricks
  content/author/mauro-lepore/_index.es.md
  content/author/mauro-lepore/_index.md
  content/blog/2024-08-06-git-tricks/index.es.md
  content/blog/2024-08-06-git-tricks/index.md
Labels: blog post

#813 Placeholder for comm call about R-Universe
  content/commcalls/2024-09-24/index.md
Labels: commcall

#812 Long Term Sustainability of An R Package
  content/author/vincent-van-hees/_index.md
  content/blog/2024-08-20-my-experience-with-long-term-maintenance-of-an-r-package/index.en.Rmd
  content/blog/2024-08-20-my-experience-with-long-term-maintenance-of-an-r-package/index.en.md
Labels: blog post

#824 Events - create Cagri's webinar | Fix language
  content/events/2024-06-13-rr.md
  content/events/2024-09-10-rsr-learn-and-use.md
Labels: events

#831 Polarverse blog post translated to Portuguese
  config.toml
  content/blog/2023-12-05-divide-y-venceras-de-polar-al-polarverse/index.en.md
  content/blog/2023-12-05-divide-y-venceras-de-polar-al-polarverse/index.es.md
  content/blog/2023-12-05-divide-y-venceras-de-polar-al-polarverse/index.pt.md
Labels: translation :mate:, blog post
