Repository ropensci/roweb3, pull requests merged in 2025-06, with the labels that each got.

#1060 Mentors 2025 blog post
  content/author/elina-gómez/_index.en.md
  content/author/elina-gómez/_index.es.md
  content/author/geraldine-gómez-millán/_index.en.md
  content/author/geraldine-gómez-millán/_index.es.md
  content/author/luis-d.-verde-arregoitia/_index.md
  content/author/milagros-mendoza/_index.en.md
  content/author/milagros-mendoza/_index.es.md
  content/author/ronny-hernandez-mora/_index.en.md
  content/author/ronny-hernandez-mora/_index.es.md
  content/blog/2023-11-29-r-intro-mentors/index.en.md
  content/blog/2025-05-15-puentes-y-comunidades-mi-camino-como-campeona-de-ropensci/index.en.md
  content/blog/2025-05-15-puentes-y-comunidades-mi-camino-como-campeona-de-ropensci/index.es.md
  content/blog/2025-06-05-mentors-2025/index.en.md
  content/blog/2025-06-05-mentors-2025/index.es.md
  content/events/2024-11-20-LatinR.md
  content/events/2025-08-08-useR.md
  themes/ropensci/static/img/team/carolina-pradier.jpg
  themes/ropensci/static/img/team/elina-gomez.png
  themes/ropensci/static/img/team/geraldine-gomez.png
  themes/ropensci/static/img/team/milagros-mendoza.jpeg
  themes/ropensci/static/img/team/pablo-tiscornia.jpeg
  themes/ropensci/static/img/team/ronny-hernandez.png
Labels: blog post

#1028 Portuguese translation blog post dev guide
  content/blog/2021-10-14-runiverse-badges/index.pt.md
Labels: blog post, Tradução, need-first-review

#1081 Noam Keynote
  content/events/2025-07-27-Statistical_Computing.md
Labels: events

#1071 translation FAQ
  content/blog/2025-06-23-translation-faq/index.es.md
  content/blog/2025-06-23-translation-faq/index.fr.md
  content/blog/2025-06-23-translation-faq/index.md
Labels: blog post

#1032 Portuguese translation blog post first-review-experiences
  content/blog/2017-09-08-first-review-experiences/index.pt.md
Labels: blog post, Tradução, need-first-review
