Repository ropensci/roweb3, pull requests merged in 2025-05, with the labels that each got.

#1038 Add video and slides
  content/events/2025-04-23-R-Ladies-Resistencia-Corrientes-Sta-Rosa.md
  content/events/2025-05-07-RLadies-Floripa-2025.md
  content/events/2025-05-23-RLadies-Floripa-2025.md
  content/events/2025-08-08-useR.md
Labels: events

#1030 Portuguese translation thanking-reviews-in-metadata
  content/blog/2018-03-16-thanking-reviewers-in-metadata/index.pt.md
Labels: blog post, Tradução

#1018 Blog andrea champion
  content/author/andrea-gomez-vargas/_index.es.md
  content/author/andrea-gomez-vargas/_index.md
  content/blog/2025-05-15-puentes-y-comunidades-mi-camino-como-campeona-de-ropensci/arcenso-hex.png
  content/blog/2025-05-15-puentes-y-comunidades-mi-camino-como-campeona-de-ropensci/arcenso-meet.png
  content/blog/2025-05-15-puentes-y-comunidades-mi-camino-como-campeona-de-ropensci/censos-argentina.png
  content/blog/2025-05-15-puentes-y-comunidades-mi-camino-como-campeona-de-ropensci/codehero.png
  content/blog/2025-05-15-puentes-y-comunidades-mi-camino-como-campeona-de-ropensci/comunidades.png
  content/blog/2025-05-15-puentes-y-comunidades-mi-camino-como-campeona-de-ropensci/index.en.md
  content/blog/2025-05-15-puentes-y-comunidades-mi-camino-como-campeona-de-ropensci/index.es.md
Labels: blog post

#1025 Spanish translation pkgcheck-action blog post
  content/blog/2022-02-01-pkgcheck-action/index.en.md
  content/blog/2022-02-01-pkgcheck-action/index.es.md
Labels: translation :mate:, blog post

#1029 Translation to Spanish - Blog post thanking-reviewers-in-metadata
  content/blog/2018-03-16-thanking-reviewers-in-metadata/index.en.md
  content/blog/2018-03-16-thanking-reviewers-in-metadata/index.es.md
Labels: translation :mate:, blog post

#1027 Translation to Spanish runiverse-badges blog post
  content/blog/2021-10-14-runiverse-badges/index.en.md
  content/blog/2021-10-14-runiverse-badges/index.es.md
Labels: translation :mate:, blog post

#1056 Spanish translations of first peer review blog post
  content/blog/2017-08-22-first-package-review/index.es.md
Labels: translation :mate:, blog post
